body{
  display:flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background-color: green;
  font-family: Arial, sans-serif;
}

.quiz-container{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width:300px;
  background-color: lightgreen;
}
.question{
  margin-bottom: 20px;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: cornflowerblue;
  color:white;
  font-size: 16px;
}
button:hover{
  background-color: green;
}

#score{
  margin-top: 20px;
  font-size: 20px;
}
